.slider {
  margin-bottom: 3em;
}
.slider .ant-list-items {
  display: flex;
  /* overflow: auto;
  flex: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth; */
}

.slider .ant-list-items .ant-list-item {
  text-align: center;
  /* scroll-snap-align: start; */
  /* flex: none; */
  /* width: 20em; */
  /* padding: 0 15px; */
}

.slider .ant-card {
  width: 100%;
  height: 15em;
}

.slider .ant-card:hover {
  border-color: #eb2f96;
  cursor: pointer;
}
