.file-explorer {
  width: 100%;
  border-color: #f0f0f0;
}
.file-explorer .ant-list-item-meta-title {
  margin: 0 !important;
}
.file-explorer .ant-list-item {
  align-items: center;
}
.file-explorer .ant-list-item:hover {
  background-color: #eb2f9680;
  cursor: pointer;
}
.breadcrumb-item {
  color: rgba(0, 0, 0, 0.45);
  transition: color 0.2s;
  padding: 0 4px;
  border-radius: 4px;
  height: 22px;
  display: inline-block;
  margin-inline: -4px;
  cursor: pointer;
}
.breadcrumb-item:hover {
  color: rgba(0, 0, 0, 0.88);
  background-color: rgba(0, 0, 0, 0.06);
}
