.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.menu-database {
  width: 100%;
  box-shadow: rgb(233, 233, 231) 0px -1px 0px inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
