.droppable-top {
  position: absolute;
  right: 0;
  left: 0;
  bottom: calc(100% + 1em);
  height: 4px;
}

.droppable-bottom {
  position: absolute;
  right: 0;
  left: 0;
  top: calc(100% + 1em);
  height: 4px;
}

.droppable-left {
  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(100% + 1em);
  width: 4px;
}

.droppable-right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 1em);
  width: 4px;
}
