/* .block > span {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  padding: 3px 2px;
  min-height: 1em;
  color: rgb(55, 53, 47);
  cursor: text;
  display: block;
  outline: 0;
}

.block {
  width: 100%;
  max-width: 1447px;
  margin-top: 2px;
  margin-bottom: 1px;
} */

.block::after {
  white-space: pre;
  word-break: break-word;
}

[contenteditable]:empty::after {
  content: attr(placeholder);
  -webkit-text-fill-color: rgba(55, 53, 47, 0.3);
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}

.text-block > span {
  font-size: 16px;
  line-height: 1.5;
}
